<div  [ngClass]="selectedCard=='card1'?['parent', 'op']:'parent'">
    

    <div class="child1">
        <h5 class="heading">Portfolio Overview</h5>
    </div>
    <div class="child2">
        <div class="child2-first">
            <div [ngClass]="selected=='user'?'user':'prev1'" (click)="onSubmit('user')">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="line">

            </div>
            <div [ngClass]="selected=='rupee'?['rupee','user']:'prev2' " (click)="onSubmit('rupee')">
                <span rupee-symbol>&#8377; </span>
            </div>
            <div class="per-line">
                <span>By Amount </span>
            </div>
        </div>
        <div class="child2-second">
            <div class="card card1" (click)="selectedCard='card1'">
                <img src="https://clearmydues.com/ethera/assets/images/icons/export.svg" alt="" class="card-img1">
                <span class="card-text1">Export Master Report</span>
            </div>
           

            <div class="card" (mouseover)="selectedCard='card2'" (mouseleave)="selectedCard=''">
                <div class="card2">
                    <span class="card-text2">{{selectedInCard2}}</span>
                    <span class="font"><i class="fa-solid fa-chevron-down"></i></span>
                </div>
               
                <div class="card2-child" *ngIf="selectedCard=='card2'" >
                    <a *ngFor="let card of card2" (click)="selectedInCard2=card">
                        <span [ngClass]="selectedInCard2==card?'card-text2':'white'">{{card}}</span>
                        <span [ngClass]="selectedInCard2==card?['right', 'yellow']:'right'"><i class="fa-solid fa-chevron-right"></i></span>
                    </a>
                </div>
            </div>


            <div class="card" (mouseover)="selectedCard='card3'" (mouseleave)="selectedCard=''">
                <div class="card3">
                    <span class="card-text2" *ngFor="let card of listArray | filter:true:selectedTime">{{card.value+", "}}</span>
                    <span class="font font2"><i class="fa-solid fa-chevron-down"></i></span>
                </div>
                        <!---->
                <div class="card2-child card3-child" *ngIf="selectedCard=='card3'" >
                    <span *ngFor="let card of listArray" class="checkbox">
                        <input type="checkbox" name="card{{card.id}}" [(ngModel)]="card.checked" (change)="changeSelectCard3()">
                        <label for="card{{card.id}}" class="checkbox-text" >{{card.value}}</label>
                    </span>
                </div>

            </div>
            <div class="card" (mouseover)="selectedCard='card4'" (mouseleave)="selectedCard=''">
                <div class="card4">
                    <span class="card-text2">{{selectedInCard4}}</span>
                    <span class=" font font3"><i class="fa-solid fa-chevron-down"></i></span>
                </div>
                <div class="card2-child card4-child" *ngIf="selectedCard=='card4'">
                    <a *ngFor="let card of card4" (click)="selectedInCard4=card">
                        <span [ngClass]="selectedInCard4==card?'card-text2':'white'">{{card}}</span>
                        <span [ngClass]="selectedInCard4==card?['right', 'yellow', 'right-card4']:['right','right-card4']"><i class="fa-solid fa-chevron-right"></i></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="child3">
        <div class="loan-info" *ngFor="let detail of cardDetails">
            <div class="info-icon">
                <img class="logo" src={{detail.src}} alt="">
            </div>
            <div class="info-text">
                <p class="info-title">
                    <span>
                        {{detail.heading}}
                    </span>
                    <span>
                        <img class="info-logo" src={{detail.info}} alt="">
                    </span>
                </p>
                <div class="lower-info">
                    <span>
                        <a *ngIf="selected=='user'" href="">{{detail.lac}}</a>
                        <a *ngIf="selected=='rupee'">{{detail.crore}}</a>
                    </span>
                    <span class="percent">
                       {{detail.per}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card1-click" *ngIf="selectedCard=='card1'">
    <div class="card1-click-content">
      <img src="https://clearmydues.com/ethera/assets/images/icons/timer.svg" alt="" class="search">
    </div>
    <div class="card1-click-content">
        Your report is being generated.
        Download link for the report will be mailed to you on your registered email id within 24 hours.
    </div>
    <div class="card1-click-content">
        <button class="card1-click-btn" (click)="selectedCard=''"> Ok </button>
    </div>
</div>