<div class="navbar">
    <ul class="nav-ul">
        <li class="nav-li">
            <img src="assets/rectangle.png" alt="" class="li-img">
        </li>
        <li class="nav-li" (click)="selectedComponent=''"  >
            <img src="assets/home_menu.png" alt="" class="li-img">
            <p class="text">Home</p>
        </li>
        <li class="nav-li" (click)="selectedComponent='comp2'">
            <img src="assets/collections.png" alt="" class="li-img">
            <p class="text">Collections</p>
        </li>
        <li class="nav-li" (click)="selectedComponent='comp3'">
            <img src="assets/recovery.png" alt="" class="li-img">
            <p class="text">Recovery</p>
        </li>
        <li class="nav-li" (click)="selectedComponent='comp4'">
            <img src="assets/compiegn.png" alt="" class="li-img">
            <p class="text">Compaign</p>
        </li>
        <li class="nav-li" (click)="selectedComponent='comp5'">
            <img src="assets/product.png" alt="" class="li-img">
            <p class="text">Product</p>
        </li>
        <li class="nav-li" (click)="selectedComponent='comp6'">
            <img src="assets/queries.png" alt="" class="li-img">
            <p class="text">Queries</p>
        </li>
        <li class="nav-li" (click)="selectedComponent='comp7'">
            <img src="assets/userManager.png" alt="" class="li-img">
            <p class="text">User Manager </p>
        </li>
    
    </ul>
</div>

<router-outlet></router-outlet>
<div class="after-working" *ngIf="selectedComponent=='comp1'">
<h1>Home is Working</h1>
</div>
<div class="after-working" *ngIf="selectedComponent=='comp2'">
    <h1>Collection is Working</h1>
</div>
<div class="after-working" *ngIf="selectedComponent=='comp3'">
    <h1>Recovery is Working</h1>
</div>
<div class="after-working" *ngIf="selectedComponent=='comp4'">
    <h1>Compaign is Working</h1>
</div>
<div class="after-working" *ngIf="selectedComponent=='comp5'">
    <h1>Product is Working</h1>
</div>
<div class="after-working" *ngIf="selectedComponent=='comp6'">
    <h1>Queris is Working</h1>
</div>
<div class="after-working" *ngIf="selectedComponent=='comp7'">
    <h1>User Manager is Working</h1>
</div>